/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  .gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: 70%;
    max-width: 70%;
    min-width: 70%;
  }
  
  .gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
  }
  
  .gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
  }
  
  .gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
  }
  
  .gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
  }
  
  .gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
  }
  
  .gsi-material-button:not(:disabled):active .gsi-material-button-state, 
  .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #303030;
    opacity: 12%;
  }
  
  .gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  }
  
  .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #303030;
    opacity: 8%;
  }
  
  

  .AddScroll {
    overflow: scroll;
    overflow-x: hidden;
  }
    
  :root {
    --main-bg: #f8f3f2;
    --main-wt-txt-clr: #f8f3f2;
    --main-pr: #583328;
    --main-sr: #d19989;
    --main-txt-clr: #130e0c;
  }

  html {
    overflow: auto;
    height: 100%;
    width: 100%;
    font-family: Poppins;
  }

  body {
    height: 100%;
    width: 100%;
  }

  @font-face {
    font-family: Poppins;
    src: url("../Assets/Fonts/Poppins-Regular.ttf");
  }

  @font-face {
    font-family: Noto;
    src: url("../Assets/Fonts/NotoSans-Regular.ttf")
  }

  @font-face {
    font-family: ProGuer;
    src: url("../Assets/Fonts/ProtestGuerrilla-Regular.ttf");
  }

  @font-face {
    font-family: Inria;
    src: url("../Assets/Fonts/InriaSans-Bold.ttf");
  }

  @font-face {
    font-family: Noto-bold;
    src: url("../Assets/Fonts/NotoSans-SemiBold.ttf");
  }

.MainPageLogin {
  background-color:var(--main-bg);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoginBox {
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 60%;
  border-radius: 40px;
  background-color: var(--main-bg);
  box-shadow: 10px 16px 30px rgb(96, 96, 96, 0.8);
}

#HeadTitle2 {
  display: flex;
  padding-left: 0px;
  top: 5px;
  position: absolute;
}

.InriaFont, #LoginWhiteText, #CyanText {
  font-family: Inria;
  font-size: 45px;
}

.LoginBoxP1 {
  display: flex;
  align-items: center;
  grid-template-rows: 180px;
  width: 60%;
  border-radius: 20px 0px 0px 20px;
  background-color: var(--main-pr);
  justify-content: center;
}

.LoginBoxP2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
  background-color: var(--main-bg);
  border-radius: 0px 20px 20px 0px;
}

#LoginWhiteText {
  color: var(--main-wt-txt-clr);
  font-family: Noto-bold;
}

#LoginWhiteText2 {
  font-weight: 500;
  color: var(--main-wt-txt-clr);;
  font-size: 20px;
  font-family: Noto;
}

#LoginBar {
  border: none;
  width: 100%;
  border-top: 3px solid var(--main-wt-txt-clr);
  margin-top: 5px;
}

.LoginBlackText {
  font-weight: 1000;
  color: var(--main-txt-clr);
  font-size: 40px;
  font-family: Noto-bold;
}

#LoginSmallerBlackText {
  color: var(--main-txt-clr);
  font-family: Noto;
  font-size: 20px;
}

.Alignment {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 250px;
}

.TopNavigation {
  display: grid;
  top: 0px;
  grid-template-columns: 1fr 2fr;
  color:rgb(121, 121, 121);
  font-weight: 500;
  box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: var(--main-bg);
}

#HeadTitle,#HeadTitle2 {
  color: var(--main-txt-clr);
  margin-left: 300px;
  font-size: 45px;
  font-family: ProGuer;
}

#HeadTitle:hover {
  color: Gray;
}

#HeadTitle2 {
  margin: auto;
}

#LinkTitle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

a {
  text-decoration: none;
}

#LinkTitle a {
  margin-left: 40px;
}

a:visited {
  color:rgb(121, 121, 121);
}

.HoverDarken {
  transition: .25s;
}

.HoverDarken:hover {
  color:var(--main-txt-clr);
  transition: .25s;
}

.MainPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--main-bg);
  min-height: 100%;
}

.MainPage2 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#MainFooter {
  display: grid;

}

.PostPannels {
  background-color: var(--main-bg);
  height: 300px;
  width: 200px;
  box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.1);
}

.AddButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 110px;
  top: 100px;
  height: 80px;
  width: 150px;
  font-size: 25px;
  border: none;
  background-color: greenyellow;
  color: var(--main-wt-txt-clr);
  border-radius: 80px;
  font-family: Noto;
}

.AddButton_Plus {
  color: var(--main-txt-clr);
}

.AddButton:hover {
  background-color: greenyellow;
}

.AddButton:active {
  background-color: rgb(41, 146, 31);
}

.ProfileBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--main-bg);
  color: black;
  font-size: 25px;
  height: 57px;
  width: 320px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  font-family: Inria;
  box-shadow: 0 0px 6px -1px rgba(0, 0, 0, .5);
}

.UPhotoIMG {
  border-radius: 50%;
  height: 2.55vw;
  width: 2.55vw;
}

.SeniorBadge {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 2vw;
  width: 5vw;
  color: rgb(79, 79, 255);
  outline: solid rgb(93, 93, 237);
  background-color: whitesmoke;
}

.SeniorBadge2 {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12.5px;
  height: 1vw;
  width: 2.5vw;
  color: rgb(79, 79, 255);
  outline: solid rgb(93, 93, 237);
  background-color: whitesmoke;
  margin-left: 15px;
}

.AdminBadge {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 2vw;
  width: 7vw;
  color: rgb(255, 79, 82);
  outline: solid rgb(237, 93, 93);
  background-color: whitesmoke;
}

.AdminBadge2 {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12.5px;
  height: 1vw;
  width: 2.5vw;
  color: rgb(255, 79, 82);
  outline: solid rgb(237, 93, 93);
  background-color: whitesmoke;
  margin-left: 15px;
}

.Roles {
  margin-left: 40px;
  transition: .25s;
}

.Roles:hover {
  color:var(--main-txt-clr);
}

.RoleList {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  visibility: hidden;
  top: 80px;
  right: 25%;
  position: absolute;
  overflow-y: auto;
  height: max(500px);
  width: 300px;
  background-color: white;
  border-radius: 50px;
}

.AccountDiv {
  color: var(--main-txt-clr);
  display: grid;
  grid-template-columns: 28% 28% 44%;
  justify-items: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--main-bg);
  width: 85%;
  margin-bottom: 5px;
  border-radius: 15px;
  transition: none;
  font-size: 20px;
  font-family: Noto;
  padding: 5px 0px 5px 0px;
}

.OptionRanks {
  width: 100px;
}

.loader{
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid;
  border-color: #000 #0000;
  animation: l1 .45s infinite;
  position: absolute;
  visibility: visible;
}
@keyframes l1 {to{transform: rotate(.5turn)}}

#MainDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 500px; 
  height: 650px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  overflow: hidden;
}

dialog::backdrop {
  backdrop-filter: blur(1px);
}

#PostForm {
  width: 450px;
}

.InputBar {
  display: grid;
}

textarea#Content {
  overflow: hidden;
  resize: none;
  padding-bottom: 440px;
}
.InputSubmission {
  width: 100%;
  margin-top: 15px;
}

.PostDivs {
  display: grid; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: .25fr 1fr .5fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "User-Info Title Title Title Title Timestamp"
    "InnerContent InnerContent InnerContent InnerContent InnerContent InnerContent"
    "CommentInput CommentInput CommentInput CommentInput CommentInput CommentInput"
    "Comments Comments Comments Comments Comments Comments"
    "Comments Comments Comments Comments Comments Comments"
    "Comments Comments Comments Comments Comments Comments";

  height: 48px;
  width: 70%;
  background-color: var(--main-bg);
  border: solid black 1px;
  box-shadow: 0 0px 6px -1px rgba(0, 0, 0, .5);
  border-radius: 20px;
  animation: 1.5s PostDivs;
  margin-left: 130px;
  overflow: hidden;
  transition: height .75s;
  will-change: height;
  overflow-wrap: break-word;
}

hr {
  margin: auto;
  margin-top: 80px;
  grid-area: CommentInput;
  width: 80%;
}

.CommentBox {
  grid-area: Comments;
  background-color: var(--main-bg);
}

.active {
  height: 800px;
}

.Timestamp {
  grid-area: Timestamp; 
  }

.UserInfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-area: User-Info; 
    margin-left: 5px;
}
  
.Title {
  grid-area: Title; 
  display: flex;
  align-items: center;
  font-weight: 1000;
  font-size: 20px;
  }

.Content {
  padding-top: 15px;
  grid-area: InnerContent; 
  margin-left: 15px;
  }

.ContentBox {
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-left: 55px;
  overflow:auto;
}

@keyframes PostDivs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#dashHeader {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 25px;
  font-weight: bold;
}

#MainFooter {
  background-color: #c9c4c2;
  height: 150px;
}

#ProfileIMG {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.ProfileIMGS {
  margin-right: 10px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.UserSpan {
  margin-left: 20px;
  font-size: 25px;
}

.DeleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  justify-self: flex-end;
  align-self: center;
  grid-area: Timestamp;
  height: 12px;
  width: 12px;
  background-color: red;
  border-radius: 5px;
}

.DeleteButton2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  justify-self: flex-end;
  align-self: center;
  grid-area: Timestamp;
  height: 12px;
  width: 12px;
  background-color: red;
  border-radius: 5px;
}


#DeleteDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 200px; 
  height: 200px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.innerBox {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: 
  "title title"
  "Box1 Box2";
  grid-template-columns: 1fr 1fr;
}

#DeleteDialog2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 200px; 
  height: 200px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.DialogLabel {
  grid-area: title;
  text-align: center;
}

.DialogChild1 {
  grid-area: Box2;
  background-color: red;
}

.DialogChild2 {
  grid-area: Box1;
}

.ContainerCommentBox {
  display: grid;
  margin-top: 15px;
}

.ProfileBox2 {
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
}

.CommentBox {
  overflow: auto;
}

.CommentForm {
  display: flex;
  justify-items: center;
  justify-content: center;
  grid-area: CommentInput;
}

.CommentTextBox {
  width: 85%;
  height: 50px;
  border: none;
  background-color: rgb(224, 219, 219);
  border-radius: 15px;
  margin-right: 5px;
}

.CommentSubmitButton {
  justify-self: flex-end;
  border: none;
  background-color: greenyellow;
  border-radius: 15px;
  height: 50px;
  color: var(--main-txt-clr);
  margin-left: 5px;
}

.TimeArea {
  display: flex;
  align-items: center;
  color: rgb(121, 121, 121);

}

.UserProfileArea {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 10px;
}

.CollapseArea {
  border: none;
  outline: none;
  background-color: rgb(224, 219, 219);
  position: fixed;
  right: 122px;
  top: 200px;
  padding-left: 16px;
  padding-right: 16px;
}

.DashboardPostContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  background-color: white;
  flex-wrap: wrap;
  gap: 10px 30px;
}

.PostContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: auto;
  background-color: var(--main-bg);
  border: solid 1px var(--main-bg);
}

.PostContainer:hover {
  border: 1px solid;
}

.DashboardSpanContainers {
  word-wrap: break-word;
  height: auto;
}





































































































/* Andrews Section */