/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  .gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 2px solid #69efdb;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #69efdb;
    cursor: pointer;
    font-family: Inria;
    font-size: 25px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: 350px;
    max-width: 400px;
    min-width: min-content;
    box-shadow: 0 4px 8px #69efdb .01; /* Light green glow */
    font-weight: 1000;
  }
  
  .gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
  }
  
  .gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: Inria;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
  }
  
  .gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
  }
  
  .gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
  }
  
  .gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
  }
  
  .gsi-material-button:not(:disabled):active .gsi-material-button-state, 
  .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #303030;
    opacity: 12%;
  }
  
  .gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  }
  
  .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #303030;
    opacity: 8%;
  }
  

  .AddScroll {
    overflow: scroll;
    overflow-x: hidden;
  }
    
  html {
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-family: Poppins;
  }

  body {
    height: 100%;
    width: 100%;
  }

  @font-face {
    font-family: Poppins;
    src: url("../Assets/Fonts/Poppins-Regular.ttf");
  }

  @font-face {
    font-family: ProGuer;
    src: url("../Assets/Fonts/ProtestGuerrilla-Regular.ttf");
  }

  @font-face {
    font-family: Inria;
    src: url("../Assets/Fonts/InriaSans-Bold.ttf");
  }

  .TopNavigation {
    padding-top: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    color:rgb(121, 121, 121);
    font-weight: 500;
    box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  #HeadTitle,#HeadTitle2 {
    color:black;
    padding-left: 300px;
    font-size: 45px;
    font-family: ProGuer;
  }

  #LinkTitle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #LinkTitle a {
    margin-left: 40px;
    text-decoration: none;
  }
  
  a:visited {
    color:rgb(121, 121, 121);
  }

  .HoverDarken:hover {
    color:black;
    transition: .25s;
  }

  .HoverDarken:hover {
    color:black;
  }


  .MainPage {
    background-color:#f6efe7;
    height: 100%;
  }

  #MainFooter {
    display: grid;

  }

  .PostPannels {
    background-color: white;
    height: 300px;
    width: 200px;
    box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.1);
  }

.AddButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 60px;
  top: 100px;
  height: 80px;
  width: 150px;
  font-size: 80px;
  border: none;
  background-color: white;
  border-radius: 80px;
}

.MainPageLogin {
  background-color:#f6efe7;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoginBox {
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 60%;
  border-radius: 40px;
  background-color: white;
  box-shadow: 10px 16px 25px rgb(96, 96, 96);
}

#HeadTitle2 {
  padding-left: 0px;
  top: 5px;
  position: absolute;
}

.SIWGoogle {
  padding: 10px 5px 10px 5px;
  border: none;
  border-radius: 20px;
  background-color: rgb(64, 139, 252);
  color: white;
}

.InriaFont, #WhiteText, #CyanText {
  font-family: Inria;
  font-size: 45px;
}

.LoginBoxP1 {
  display: grid;
  grid-template-rows: 180px;
  width: 60%;
  border-radius: 20px 0px 0px 20px;
  background-color: #65c3b5;
  justify-content: center;
}

.LoginBoxP2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
  background-color: white;
  border-radius: 0px 20px 20px 0px;
}

#WhiteText {
  color: white;
  margin-top: 120px;
}

#CyanText {
  font-weight: 1000;
  color: #1a544b;
  font-size: 20px;
  margin-top: 127px;
}

#LoginBar {
  border: none;
  width: 100%;
  border-top: 3px solid #297b6d;
  margin-top: 15px;
}

.BlackText {
  font-weight: 1000;
  color: #000000;
  font-size: 40px;
}

#SmallerBlackText {
  color: #000000;
  font-size: 16px;
}

.Alignment {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 250px;
}
